/* #forside {
    background-color: red;
}

#om-oss {
    background-color: blue;
} */

#card-section {
    padding: 0 ;
}

#forside, #om-oss, #card-section {
    scroll-margin-top: 8vh;
    height: 92vh;
    margin-top: 5px;
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.card-section {
    display: flex;
    flex-direction: column;
}

.card-row-1, .card-row-2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* padding: 0 10%; */
}

.card-image img {
    width: 200px;
    height: 200px;
    position: relative;
    left: -20%;
}

.card-image {
    overflow: hidden;
    /* object-fit: cover; */
}

.card a {
    position: absolute;
    right: 16px;
    bottom: 16px;
    left: auto;
}


#image-hildiddy {
    left: -30%;
    height: 400px;
}

#image-noa {
    left: -30%;
}

#image-marion {
    height: 300px;
}

#image-madda {
    width: 150px;
}